<%- include("header") -%>

<main class="container">
    <div class="bg-light p-5">
        <h2><%=post.name%></h2>
        <p class="lead"><%=post.text%></p>
    </div>
</main>


<%- include("footer") -%>
